name: Trigger Bank App CI/CD

on:
  push:
    branches:
      - main

jobs:
  trigger-build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Bank-App Frontend Pipeline
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GIT_PASSWORD }}" \
            https://api.github.com/repos/kaluifekwe/Bank-App/dispatches \
            -d '{"event_type":"frontend-build"}'
